body{
    background-image: url(../vvvv/bakgrunnur3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: red;
}

 } 
.section{
    display: flex;
    font-family: 'Raleway', sans-serif;
    flex-flow: column;
    width: 64em;
    margin: 0 auto;
    text-align: center;
    color: white;
}
h3{
    display: flex;
    font-family: 'Raleway', sans-serif;
    flex-flow: column;
    width: 64em;
    margin: 0 auto;
    text-align: center;
    color: white;
}
footer nav{
  text-align: center;
  margin: auto;
  padding-top: 20px;
  color: white;
}
hr {

}   
footer{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100px;
  background-color:black;
}
p{
     display: flex;
    font-family: 'Raleway', sans-serif;
    flex-flow: column;
    width: 64em;
    margin: 0 auto;
    text-align: center;
    color: white;
}